
  <div class="navbar"><h1><span>Dev</span>Challenges.io</h1>
    <ul>
      <li routerLinkActive="active"><a routerLink="/reusable-btn">Buttons</a></li>
      <li routerLinkActive="active"><a routerLink="/input">Inputs</a></li>
    </ul>
  </div>
<!--  <div class="main">-->
<!--    <div class="buttons"><h2>Buttons</h2>-->
<!--      <div class="container">-->
<!--        <div class="button-container"><p>&lt;button /&gt;</p>-->
<!--          <button class="default font undefined undefined">Default</button>-->
<!--        </div>-->
<!--        <div class="button-container"><p>&amp;:hover &amp;:focus</p>-->
<!--          <button class="default font hover undefined">Default</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container">-->
<!--        <div class="button-container"><p>&lt;button variant="outline" /&gt;</p>-->
<!--          <button class="outline font undefined undefined">Default</button>-->
<!--        </div>-->
<!--        <div class="button-container"><p>&amp;:hover &amp;:focus</p>-->
<!--          <button class="outline font hover undefined">Default</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container">-->
<!--        <div class="button-container"><p>&lt;button variant="text" /&gt;</p>-->
<!--          <button class="text font undefined undefined">Default</button>-->
<!--        </div>-->
<!--        <div class="button-container"><p>&amp;:hover &amp;:focus</p>-->
<!--          <button class="text font hover undefined">Default</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container">-->
<!--        <div class="button-container"><p>&lt;Button disabledShadow/&gt;</p>-->
<!--          <button class="default font undefined none">Default</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container">-->
<!--        <div class="button-container"><p>&lt;Button disabled/&gt;</p>-->
<!--          <button class="default font undefined undefined" disabled="">Default</button>-->
<!--        </div>-->
<!--        <div class="button-container"><p>&lt;Button disabled/&gt;</p>-->
<!--          <button class="text font undefined undefined" disabled="">Default</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

