<div>
  <!--<app-nav-bar></app-nav-bar>-->
</div>
<div class="right-side-page">
  <h1 class="list">Buttons</h1>

  <div class="btn-division btn-default">
    <p>Button /</p>
    <app-reusable-btn>Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-outline">
    <p>Button variant=outline/</p>
    <app-reusable-btn [customClass]="{outline: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-text">
    <p>Button variant="text"</p>
    <app-reusable-btn [customClass]="{text: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-disable-shadow">
    <p>Button disableShadow /</p>
    <app-reusable-btn [customClass]="{disableShadow: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-disabled">
    <p>Button disabled /</p>
    <app-reusable-btn [customClass]="{disabled: true}">Disabled</app-reusable-btn>
  </div>
  <div class="btn-division btn-disabled-text">
    <p>Button variant="text" disabled /</p>
    <app-reusable-btn [customClass]="{textDisabled: true}">Disabled</app-reusable-btn>
  </div>
  <div class="btn-division btn-left-icon">
    <p>Button startIcon="local_grocery_store" /</p>
    <app-reusable-btn [customClass]="{disableShadow: true}" iconPosition="left">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-right-icon">
    <p>Button endIcon="local_grocery_store" /</p>
    <app-reusable-btn [customClass]="{disableShadow: true}" iconPosition="right">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-sm-size">
    <p>Button size="sm" /</p>
    <app-reusable-btn [customClass]="{sm: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-md-size">
    <p>Button size="md" /</p>
    <app-reusable-btn [customClass]="{md: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-lg-size">
    <p>Button size="lg" /</p>
    <div><app-reusable-btn [customClass]="{lg: true}">Default</app-reusable-btn></div>
  </div>
  <div class="btn-division btn-colour-default">
    <p>Button color="default" /</p>
    <app-reusable-btn [customClass]="{default: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-colour-primary">
    <p>Button color="primary" /</p>
    <app-reusable-btn [customClass]="{primary: true}">Default</app-reusable-btn>
  </div>
  <div class="btn-division btn-colour-secondary">
    <p>Button color="secondary" /</p>
    <app-reusable-btn [customClass]="{secondary: true}">Secondary</app-reusable-btn>
  </div>
  <div class="btn-division btn-colour-danger">
    <p>Button color="danger" /</p>
    <app-reusable-btn [customClass]="{danger: true}">Danger</app-reusable-btn>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
